Bio/*

#libs/plugins/*
#libs/sysplugins/*
*.jpg

*.o
*.exe

#C:\WORKS\WS\WS_Research\R.150-199\R.165_image-proccessing\netpbm-10.35.96

C:/WORKS/WS/WS_Research/R.150-199/R.165_image-proccessing/netpbm-10.35.96/
C:/WORKS/WS/WS_Research/R.150-199/R.165_image-proccessing/netpbm-10.35.96/*

netpbm-10.35.96/*

freeglut/

R.150-199/R.165_image-proccessing/data/
C:/WORKS/WS/WS_Research/R.150-199/R.165_image-proccessing/data/img_src/*.bmp
R.150-199/R.165_image-proccessing/*.ppm
R.150-199/R.165_image-proccessing/data/img_src/*.bmp

*.ppm

pdf.js

#[java]
*.class
libs_java/*

