Bio/*

#libs/plugins/*
#libs/sysplugins/*
*.jpg

*.o
*.exe

#C:\WORKS\WS\WS_Research\R.150-199\R.165_image-proccessing\netpbm-10.35.96

C:/WORKS/WS/WS_Research/R.150-199/R.165_image-proccessing/netpbm-10.35.96/
C:/WORKS/WS/WS_Research/R.150-199/R.165_image-proccessing/netpbm-10.35.96/*
